<div>

	<h2>
		<span jhiTranslate="myRestaurantApp.room.home.title">Table</span><span> {{desk?.name}}</span>
		<span class="float-right">
		<button type="button" class="btn btn-default" [routerLink]="['/room']">
			<span class="fa fa-arrow-left"></span>&nbsp;<span class="hidden-sm-down" jhiTranslate="entity.action.back"> Back</span>
		</button>
		<button class="btn btn-primary" [routerLink]="['/bill', desk?.id]">
			<i class="fa fa-usd" aria-hidden="true"></i> <span class="hidden-sm-down"> Bill </span>
		</button>
		<button class="btn btn-primary" [routerLink]="['/dishes', 'desk', desk?.id, desk?.name]">
			<i class="fa fa-book" aria-hidden="true"></i> <span class="hidden-sm-down" jhiTranslate="myRestaurantApp.room.orderDishes"> Order dishes </span>
		</button>
		</span>
	</h2>

	<jhi-alert></jhi-alert>

	<div>
		<div class="card card-primary">
    	<div class="card-header"><i class="fa fa-id-card-o" aria-hidden="true"></i> Tables Status</div>
    	<div class="card-block">
			<form name="editForm" role="form" novalidate (ngSubmit)="save()"
				#editForm="ngForm">

				<div class="row">
					<jhi-alert-error></jhi-alert-error>

					<div class="form-group" [hidden]="desk?.id">
						<label for="id" jhiTranslate="global.field.id">ID</label>
						<input type="text" class="form-control" id="id" name="id"
							[ngModel]="desk?.id" (ngModelChange)="desk.id=$event" readonly />
					</div>
					
					<div class="form-group row col-sm-6">
						<label class="col-form-label col-sm-4"
							jhiTranslate="myRestaurantApp.room.name" for="field_name">Name</label>
							<div class="col-sm-8">
								<p class="form-control-static">{{desk?.name}}</p>
							</div>

					</div>
					
					<div class="form-group row col-sm-6">
						<label class="col-form-label col-sm-4"
							jhiTranslate="myRestaurantApp.room.amount" for="field_amount">Amount</label>
							<div class="col-sm-8">
								<p class="form-control-static">{{desk?.amount}}</p>
							</div>
					</div>



					
					<div class="form-group row col-sm-6">
						<label class="col-form-label col-sm-4"
							jhiTranslate="myRestaurantApp.room.clientNumber"
							for="field_clientNumber">Client Number</label>
							<div class="col-sm-8">
							<input
							type="number" class="form-control" name="clientNumber"
							id="field_clientNumber" [ngModel]="desk?.clientNumber"
							(ngModelChange)="desk.clientNumber=$event" />
							</div>
					</div>
					

					<div class="form-group row col-sm-6">
						<label class="col-form-label col-sm-4" for="">Occupied/Unoccupied</label>
						<div class="col-sm-8 toggle">
							<input type="checkbox" id="switch" /><label for="switch">Toggle</label>
						</div>
					</div>
					
				</div>

				
				<div class="float-right">
					<button type="submit" [disabled]="editForm.form.invalid || isSaving"
						class="btn btn-primary">
						<span class="fa fa-save"></span>&nbsp;<span
							class="hidden-sm-down" jhiTranslate="entity.action.save">Save</span>
					</button>
				</div>
			</form>
		</div>
    	</div>
		

		<div class="card" *ngIf="isDetail">
		<div class="card-header"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Validé
			<a (click)="toggleDetail()"><span class="float-right">View Summary <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></span></a>
		</div>
		<div class="card-block">
			<div class="table-responsive" *ngIf="ordreInDesk">
			<table class="table table-striped">
				<thead>
				<tr>
				<th><span >ID</span> <span class="fa fa-sort"></span></th>
				<th><span >Name</span> <span class="fa fa-sort"></span></th>
				<th><span >Status</span> <span class="fa fa-sort"></span></th>
				<th><span >Price</span> <span class="fa fa-sort"></span></th>
				<th><span >Desk</span> <span class="fa fa-sort"></span></th>
				<th><span >Payment</span> <span class="fa fa-sort"></span></th>
				<th></th>
				</tr>
				</thead>
				<tbody>
				<tr *ngFor="let ordre of ordreInDesk ;trackBy: trackOrdreById">
					<td><a [routerLink]="['../ordre', ordre.id ]">{{ordre.id}}</a></td>
					<td>{{ordre.name}}</td>
					<td>{{ordre.status}}</td>
					<td>{{ordre.price}}</td>
					<td>
						<div *ngIf="ordre.desk">
							<a [routerLink]="['../desk', ordre.desk?.id ]" >{{ordre.desk?.id}}</a>
						</div>
					</td>
					<td>
						<div *ngIf="ordre.payment">
							<a [routerLink]="['../payment', ordre.payment?.id ]" >{{ordre.payment?.id}}</a>
						</div>
					</td>
					<td class="text-xs-right">
						<div class="btn-group flex-btn-group-container">
							<button type="submit"
									[routerLink]="['/', { outlets: { popup: 'ordre/'+ ordre.id + '/delete'} }]"
									replaceUrl="true"
									class="btn btn-danger btn-sm">
								<span class="fa fa-remove"></span>
								<span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
							</button>
						</div>
					</td>
				</tr>
				</tbody>
			</table>
			</div>

		</div>
		</div>
	

		<div *ngIf="!isDetail && ordreInDesk">
		<div class="card">
		<div class="card-header"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Valided 
			<a (click)="toggleDetail()"><span class="float-right">View Details <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></span></a>
		</div>
		<div class="card-block">
			<res-list-merged [list]="ordreInDesk"></res-list-merged>
		</div>
		</div>
		</div>



		<div class="card" *ngIf="desk?.payments?.length>0">
				<div class="card-header">
					<i class="fa fa-usd" aria-hidden="true"></i>
					<span> Paid</span>
					<span class="float-right">Amount paid:  <strong>{{getAmountPaid()}}</strong></span>
				</div>
				<div class="card-block">
					<table class="table table-striped">
						<thead>
						<tr>
						<th><span>ID</span> <span class="fa fa-sort"></span></th>
						<th><span>Type</span> <span class="fa fa-sort"></span></th>
						<th><span>Amount</span> <span class="fa fa-sort"></span></th>
						<th></th>
						</tr>
						</thead>
						<tbody>
						<tr *ngFor="let payment of desk.payments ;trackBy: trackId">
							<td><a [routerLink]="['/payment', payment.id ]">{{payment.id}}</a></td>
							<td>{{payment.type}}</td>
							<td>{{payment.amount}}</td>
							<td class="text-xs-right">
								<div class="btn-group flex-btn-group-container">
									<button type="submit"
											[routerLink]="['/', { outlets: { popup: 'payment/'+ payment.id + '/delete'} }]"
											replaceUrl="true"
											class="btn btn-danger btn-sm">
										<span class="fa fa-remove"></span>
										<span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
									</button>
								</div>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
		</div>
	</div>

</div>