	<h2>
		<span jhiTranslate="myRestaurantApp.room.home.title">Table</span><span> {{stage?.desk?.name}}</span>
		<span class="float-right">
		<button type="button" class="btn btn-default" [routerLink]="['/stageActive', stage?.id]">
			<span class="fa fa-arrow-left"></span>&nbsp;<span class="hidden-sm-down" jhiTranslate="entity.action.back"> Back</span>
		</button>
		</span>
	</h2>

	<jhi-alert></jhi-alert>
    
    <div class="card card-default">
    <div class="card-header"><i class="fa fa-book" aria-hidden="true"></i>  Menu</div>
    <div class="card-block">
	    <div class="table-responsive" *ngIf="products">
            <table class="table table-striped">
                <thead>
                <tr>
                <th class="hidden-sm-down"><span jhiTranslate="global.field.id">ID</span></th>
                <th><span >Name</span></th>
                <th class="hidden-sm-down"><span >Price</span></th>
                <th><span >Quantity</span></th>
                <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let productsWithQuantity of productsWithQuantities let i = index">
                    <td class="hidden-sm-down"><a [routerLink]="['/product', productsWithQuantity.product.id ]">{{productsWithQuantity.product.id}}</a></td>
                    <td>{{productsWithQuantity.product.name}}</td>
                    <td class="hidden-sm-down">{{productsWithQuantity.product.price}}</td>
                    <td>
                        <div class="input-group">
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-info btn-primary" (click)="setQuantity(i,1)"><span> 1 </span></button>
                        <button type="button" class="btn btn-info btn-primary" (click)="setQuantity(i,2)"><span> 2 </span></button>
                        <button type="button" class="btn btn-info btn-primary hidden-xs-down" (click)="setQuantity(i,3)"><span> 3 </span></button>
                        <button type="button" class="btn btn-info btn-primary hidden-xs-down" (click)="setQuantity(i,4)"><span> 4 </span></button>
                        <button type="button" class="btn btn-info btn-primary hidden-sm-down" (click)="setQuantity(i,5)"><span> 5 </span></button>
                        <button type="button" class="btn btn-info btn-primary hidden-sm-down" (click)="setQuantity(i,6)"><span> 6 </span></button>
                        </span>
                        <input type="number" class="form-control" [(ngModel)]="productsWithQuantity.quantity">
                        </div>
                    </td>
                    <td class="text-xs-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="button"
                                    [routerLink]="['/', { outlets: { popup: 'product/'+ productsWithQuantity.product.id + '/edit'} }]"
                                    
                                    class="btn btn-info btn-sm">
                                <span class="fa fa-eye"></span>
                                <span class="hidden-md-down" >View</span>
                            </button>
                            <button type="button"
                                    (click)="addTempItem(i)"
                                    class="btn btn-primary btn-sm">
                                <span class="fa fa-plus"></span>
                                <span class="hidden-md-down" >Add</span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
	
	</div>
	</div>
    


<div class="card card-default" *ngIf="isDetail">
    <div class="card-header"><i class="fa fa-pencil-square-o"></i> Temp
        <a (click)="toggleDetail()"><span class="float-right">View Summary <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></span></a>
    </div>
    <div class="card-block">
        <div class="table-responsive" *ngIf="ordreTemp">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span >ID</span> <span class="fa fa-sort"></span></th>
            <th><span >Name</span> <span class="fa fa-sort"></span></th>
            <th><span >Status</span> <span class="fa fa-sort"></span></th>
            <th><span >Price</span> <span class="fa fa-sort"></span></th>
            <th><span >Desk</span> <span class="fa fa-sort"></span></th>
            <th><span >Payment</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ordre of ordreTemp let i = index">
                <td><a [routerLink]="['../ordre', ordre.id ]">{{ordre.id}}</a></td>
                <td>{{ordre.name}}</td>
                <td>{{ordre.status}}</td>
                <td>{{ordre.price}}</td>
                <td>
                    <div *ngIf="ordre.stage">
                        <a [routerLink]="['../stage', ordre.stage?.id ]" >{{ordre.stage?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="ordre.payment">
                        <a [routerLink]="['../payment', ordre.payment?.id ]" >{{ordre.payment?.id}}</a>
                    </div>
                </td>
                <td class="text-xs-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="button"
                                (click)="deleteTempItem(i)"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        </div>

    </div>
    </div>

<div class="card card-default" *ngIf="!isDetail">
    <div class="card-header"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Temp  
        <a (click)="toggleDetail()"><span class="float-right">View Details <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></span></a>
    </div>
    <div class="card-block">
    <res-list-merged [list]="ordreTemp"></res-list-merged>
    </div>
</div>

<div class="float-right">
    <button class="btn btn-primary" [disabled]="ordreTemp.length<1 || isSaving" (click)="addOrdre()"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Command</button>
</div> 
<br>
<br> 