<div *ngIf="payment">
	<div class="row">
		<div class="col-lg-12">
			

			<div class="">
			<section>
				<div class="col">
				<input type="radio" id="control_01" name="select" value="card" [(ngModel)]="payment.type">
				<label for="control_01">
					<p><i class="fa fa-credit-card" aria-hidden="true"></i> Card</p>
				</label>
				</div>

				<div class="col">
				<input type="radio" id="control_02" name="select" value="ticket" [(ngModel)]="payment.type">
				<label for="control_02">
					<p><i class="fa fa-glass" aria-hidden="true"></i> Ticket</p>
				</label>
				</div>

				<div class="col">				
				<input type="radio" id="control_03" name="select" value="cash" [(ngModel)]="payment.type">
				<label for="control_03">
					<p><i class="fa fa-money" aria-hidden="true"></i> Cash</p>
				</label>
				</div>

				<div class="col">
				<input type="radio" id="control_04" name="select" value="check" [(ngModel)]="payment.type">
				<label for="control_04">
					<p><i class="fa fa-google-wallet" aria-hidden="true"></i> Check</p>
				</label>
				</div>

				<div class="col">
				<input type="radio" id="control_05" name="select" value="other" [(ngModel)]="payment.type">
				<label for="control_05">
					<p><i class="fa fa-heart" aria-hidden="true"></i> Other</p>
				</label>
				</div>
			</section>
			</div>

			<div class="form-group row d-flex justify-content-around">
				<label for="example-number-input" class="col-lg-2 col-form-label">Amount</label>
				<div class="col-lg-9">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-eur" aria-hidden="true"></i></span>
						<input type="text" class="form-control" aria-label="Text input with radio button" [(ngModel)]="payment.amount">
						<span class="input-group-btn">
							<button class="btn btn-primary" type="button" (click)="openNumpad()"><i class="fa fa-keyboard-o" aria-hidden="true"></i></button>
							<button class="btn btn-primary" type="button" (click)="openCalculator()"><i class="fa fa-calculator" aria-hidden="true"></i></button>
						</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="table-responsive" *ngIf="orderToPay">
					<table class="table table-striped">
						<thead>
						<tr>
						<th><span >ID</span> <span class="fa fa-sort"></span></th>
						<th><span >Name</span> <span class="fa fa-sort"></span></th>
						<th><span >Price</span> <span class="fa fa-sort"></span></th>
						<th><span ></span></th>
						</tr>
						</thead>
						<tbody>
						<tr *ngFor="let ordre of orderToPay ; let i = index">
							<td><a [routerLink]="['../ordre', ordre.id ]">{{ordre.id}}</a></td>
							<td *ngIf="ordre.name.length<12">{{ordre.name}}</td>
							<td *ngIf="ordre.name.length>=12">{{ordre.name.substring(0, 12)}}...</td>
							<td>{{ordre.price}}</td>
							<td>
								<button type="button" class="btn btn-primary btn-sm" (click)="selectOrder(i)">
									<i class="fa fa-angle-double-right" aria-hidden="true"></i>
								</button>
							</td>
						</tr>
						</tbody>
					</table>
					</div>
				</div>
				<br>
				<div class="col-lg-6">
					<div class="table-responsive" *ngIf="orderSelected">
					<table class="table table-striped">
						<thead>
						<tr>
						<th><span >ID</span> <span class="fa fa-sort"></span></th>
						<th><span >Name</span> <span class="fa fa-sort"></span></th>
						<th><span >Price</span> <span class="fa fa-sort"></span></th>
						<th><span ></span></th>
						</tr>
						</thead>
						<tbody>
						<tr *ngFor="let ordre of orderSelected ; let i = index">
							<td><a [routerLink]="['../ordre', ordre.id ]">{{ordre.id}}</a></td>
							<td *ngIf="ordre.name.length<12">{{ordre.name}}</td>
							<td *ngIf="ordre.name.length>=12">{{ordre.name.substring(0, 12)}}...</td>
							<td>{{ordre.price}}</td>
							<td>
								<button type="button" class="btn btn-primary btn-sm" (click)="removeOrder(i)">
									<i class="fa fa-angle-double-left" aria-hidden="true"></i>
								</button>
							</td>
						</tr>
						</tbody>
					</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
