

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
        <h4 class="modal-title" id="myDeskLabel" jhiTranslate="myRestaurantApp.desk.home.createOrEditLabel">Create or edit a Desk</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!desk.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <label class="form-control">{{desk.id}}</label>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="myRestaurantApp.desk.name" for="field_name">Name</label>
             <label class="form-control">{{desk.name}}</label>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="myRestaurantApp.desk.status" for="field_status">Status</label>
             <label class="form-control">{{desk.status}}</label>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="myRestaurantApp.desk.clientNumber" for="field_clientNumber">Client Number</label>
            <label class="form-control">{{desk.clientNumber}}</label>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="myRestaurantApp.desk.amount" for="field_amount">Amount</label>
            <label class="form-control">{{desk.amount}}</label>
        </div>

    </div>
    <div class="modal-footer">
    	<button type="button"  data-dismiss="modal" (click)="clear()" [routerLink]="['room/desk', desk.id, 'operation' ]" class="btn btn-primary">
            <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
    </div>
</form>
