
<div *ngIf="payment">
    <h2><span jhiTranslate="myRestaurantApp.payment.detail.title">Payment</span> {{payment.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="myRestaurantApp.payment.type">Type</span></dt>
        <dd>
            <span jhiTranslate="{{'myRestaurantApp.PaymentType.' + payment.type}}">{{payment.type}}</span>
        </dd>
        <dt><span jhiTranslate="myRestaurantApp.payment.info">Info</span></dt>
        <dd>
            <span>{{payment.info}}</span>
        </dd>
        <dt><span jhiTranslate="myRestaurantApp.payment.amount">Amount</span></dt>
        <dd>
            <span>{{payment.amount}}</span>
        </dd>
        <dt><span jhiTranslate="myRestaurantApp.payment.creationDate">Creation Date</span></dt>
        <dd>
            <span>{{payment.creationDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="myRestaurantApp.payment.stage">Stage</span></dt>
        <dd>
            <div *ngIf="payment.stage">
                <a [routerLink]="['/stage', payment.stage?.id]">{{payment.stage?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'payment/'+ payment.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
