

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
        <h4 class="modal-title" id="myPaymentLabel" jhiTranslate="myRestaurantApp.payment.home.createOrEditLabel">Create or edit a Payment</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!payment.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="payment.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="myRestaurantApp.payment.type" for="field_type">Type</label>
            <input type="text" class="form-control" name="type" id="field_type"
                [(ngModel)]="payment.type"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="myRestaurantApp.payment.amount" for="field_amount">Amount</label>
            <input type="number" class="form-control" name="amount" id="field_amount"
                [(ngModel)]="payment.amount"
             />
        </div>

        <div class="form-group">
            <label jhiTranslate="myRestaurantApp.payment.desk" for="field_desk">Desk</label>
            <select class="form-control" id="field_desk" name="desk" [(ngModel)]="payment.desk" >
                <option [ngValue]="null"></option>
                <option [ngValue]="deskOption.id === payment.desk?.id ? payment.desk : deskOption" *ngFor="let deskOption of desks; trackBy: trackDeskById">{{deskOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
