
<div *ngIf="ordre">
    <h2><span jhiTranslate="myRestaurantApp.ordre.detail.title">Ordre</span> {{ordre.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="myRestaurantApp.ordre.name">Name</span></dt>
        <dd>
            <span>{{ordre.name}}</span>
        </dd>
        <dt><span jhiTranslate="myRestaurantApp.ordre.status">Status</span></dt>
        <dd>
            <span>{{ordre.status}}</span>
        </dd>
        <dt><span jhiTranslate="myRestaurantApp.ordre.price">Price</span></dt>
        <dd>
            <span>{{ordre.price}}</span>
        </dd>
        <dt><span jhiTranslate="myRestaurantApp.ordre.creationDate">Creation Date</span></dt>
        <dd>
            <span>{{ordre.creationDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="myRestaurantApp.ordre.stage">Stage</span></dt>
        <dd>
            <div *ngIf="ordre.stage">
                <a [routerLink]="['/stage', ordre.stage?.id]">{{ordre.stage?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="myRestaurantApp.ordre.payment">Payment</span></dt>
        <dd>
            <div *ngIf="ordre.payment">
                <a [routerLink]="['/payment', ordre.payment?.id]">{{ordre.payment?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'ordre/'+ ordre.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
