    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
        <h4 class="modal-title" id="numpadLabel">Number Pad</h4>
    </div>
    <div class="modal-body">
    <div class="container">
        <div class="row">
            <div class="form-control">
                <div class="col-12">
                    <input class="form-control form-control-lg text-right" type="text" disabled [ngModel]="numResult">
                </div>
            </div>

            <br><br><br>

            <div class="res-keyboard">
                <div class="col-3">
                    <button type="button" (click)="press(7)" class="btn btn-primary btn-lg">7</button>
                </div>
                <div class="col-3">
                    <button type="button" (click)="press(8)" class="btn btn-primary btn-lg">8</button>
                </div>
                <div class="col-3">
                    <button type="button" (click)="press(9)" class="btn btn-primary btn-lg">9</button>
                </div>
                <div class="col-3">
                    <button type="button"  class="btn btn-primary btn-lg" (click)="del()">D</button>
                </div>

                <div class="col-3">
                    <button type="button" (click)="press(4)" class="btn btn-primary btn-lg">4</button>
                </div>
                <div class="col-3">
                    <button type="button" (click)="press(5)" class="btn btn-primary btn-lg">5</button>
                </div>
                <div class="col-3">
                    <button type="button" (click)="press(6)" class="btn btn-primary btn-lg">6</button>
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-primary btn-lg" (click)="clean()">C</button>
                </div>

                <div class="col-3">
                    <button type="button" (click)="press(1)" class="btn btn-primary btn-lg">1</button>
                </div>
                <div class="col-3">
                    <button type="button" (click)="press(2)" class="btn btn-primary btn-lg">2</button>
                </div>
                <div class="col-3">
                    <button type="button" (click)="press(3)" class="btn btn-primary btn-lg">3</button>
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-primary btn-lg">&nbsp;</button>
                </div>

                <div class="col-3">
                    <button type="button" (click)="negative()" class="btn btn-primary btn-lg"> -</button>
                </div>
                <div class="col-3">
                    <button type="button" (click)="press(0)" class="btn btn-primary btn-lg">0</button>
                </div>
                <div class="col-3">
                    <button type="button" (click)="point()" class="btn btn-primary btn-lg"> .</button>
                </div>
                <div class="col-3">
                    <button type="button" (click)="done()" class="btn btn-primary btn-lg"><i class="fa fa-hand-peace-o" aria-hidden="true"></i></button>
                </div>
            </div>

        </div>
    </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-power-off"></span>&nbsp;<span> Close</span>
        </button>
    </div>