.res-keyboard {
     margin: 0px;
}

.btn {
padding: 12px 18px;
margin-bottom: 6px;
margin-top: 6px;
}

.col-xs-3 {
    padding-right: 9px;
    padding-left: 9px;
}

.form-control-lg {
    height: 60px;
}

input {
    line-height: 60px;
    font-size: 28px;
}

input[disabled] {
    background-color: white;
}